#instructions
  .centre-box
    h1 Challenge:Response
    h3 8 Seconds
    p Press 'space' to start.
#challenge.start-hidden
  p.super-large GO!
#falsestart.start-hidden
  .centre-box
    h1 FALSE START!
    p Press 'r' to continue.
#results.start-hidden
  p#score.large
  p#attempts.large
  p#total.large
  p Press 'r' to continue.
#gameOver.start-hidden
  h1 GAME OVER MAN