#instructions
  .centre-box
    h1 Challenge:Response
    h3 Practice Mode
    .left
      p The game is simple. Press the spacebar when you see the red circle turn green. Press it too early and you will false start. Your score is shown afterwards.
      p This game was build for &quot;A Study of Difficulty in Games&quot;. This game illustrates the reaction trait.
    p Press 'space' to start.
#challenge.start-hidden
  p.super-large GO!
#falsestart.start-hidden
  .centre-box
    h1 FALSE START!
    p Press 'r' to have another go.
#results.start-hidden
  .centre-box
    p#score.large
  p Press 'r' to have another go.