.centre-box {
  position: relative;
  text-align: center;
  width: 100%;
}

.large {
  font-size: 10em;
}

.super-large {
  font-size: 20em;
}

.left {
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 50%;
}
