.centre-box {
	position: relative;
	width: 100%;
	text-align: center;
}

.large {
	font-size: 10em;
}

.super-large {
	font-size: 20em;
}

.left {
	text-align: left;
	position: relative;
	width: 50%;
	margin: 0 auto;
}

#instructions {
	.left {}
}