$green: #0f0;
$black: #fff;

.centre-box {
  position: relative;
  text-align: center;
  width: 100%;
}

.large {
  font-size: 10em;
}

.super-large {
  font-size: 20em;
}

.left {
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 50%;
}

.best {
  color: $green;
}

.score {
  font-size: 10em;
  margin: 0;
  padding: 0;
  position: fixed;
}

.prior-scores {
  bottom: 0;
  display: inline;
  left: 0;
  list-style: none;
  position: fixed;

  li {
    display: inline;
  }

  li:nth-child(n+1):after {
    color: $black;
    content: ', ';
  }
}
